   <div class='col-3'>
                    <div class='izq0'>
                        <p id='bancos'><i class="fa-solid fa-circle-dollar-to-slot"></i> &nbsp; Bancos
                        <p>
                    </div>

                    <div class='izq0 mt-3'>
                        <p><i class="fa-sharp fa-solid fa-cash-register"></i>&nbsp; Cobranzas
                        <p>
                    </div>

                    <div class='izq0 mt-3'>
                        <p><i class="fa-sharp fa-solid fa-file-invoice-dollar"></i> &nbsp; Boleto Electronico
                        <p>
                    </div>

                    <div class='izq0 mt-3'>
                        <p><i class="fa-solid fa-circle-dollar-to-slot"></i> &nbsp; Cooperativas
                        <p>
                    </div>

                    <div class='izq0 mt-3'>
                        <p><i class="fa-solid fa-briefcase"></i> &nbsp; Impuestos
                        <p>
                    </div>


                    <div class='izq0 mt-3'>
                        <p><i class="fa-solid fa-money-bill-1"></i> &nbsp; Cambios
                        <p>
                    </div>


                </div>