 <div class='row gx-0'>
                <div class='col-5 perfil'>

                    <div class='row gx-0'>
                        <div class='col-2'>
                            <img class='lazyload' src='index_files/images/perfil.png' width='59px' height='57px'>
                        </div>
                        <div class='col-10 info'>
                            <h1>Bienvenido, Alfonso Rodriguez</h1>
                            <h2><span>Sucursal:</span> 203 La Esquina<br />
                                <span>Turno:</span> Tarde
                            </h2>
                        </div>
                    </div>
                </div>

                <div class='col-7 saldos'>
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <span class='ss'>Saldos</span>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <p class="navbar-nav ms-auto mb-2 mb-lg-0 ss0">
                                    25 de Marzo 2023 16:35 pm
                                </p>
                            </div>
                        </div>
                    </nav>

                    <div class='row gx-0'>
                        <div class='col-2 text-center mt-3 st0'>
                            <p>Saldo Ap:</p>
                            <span>20.000</span>
                        </div>

                        <div class='col-2 text-center mt-3 st0'>
                            <p>Cantidad Trx:</p>
                            <span>45.000</span>
                        </div>

                        <div class='col-2 text-center mt-3 st0'>
                            <p>Cheques:</p>
                            <span>132</span>
                        </div>

                        <div class='col-2 text-center mt-3 st0'>
                            <p>Efectivo:</p>
                            <span>145.000</span>
                        </div>


                        <div class='col-2 text-center mt-3 st0'>
                            <p>Cambios:</p>
                            <span>15.000</span>
                        </div>

                        <div class='col-2 text-center mt-3 st0 noborder'>
                            <p>Tipo cambio:</p>
                            <span>Dolar - Euro</span>
                        </div>


                    </div>


                </div>
            </div>
